$primary-color:#f78770c8;
$secendry-color: #ff607bb6;

$font-12:12px;
$font-14:14px;
$font-16:16px;
$font-18:18px;
$font-20:20px;
$font-22:22px;
$font-24:24px;
$font-26:26px;
$font-28:28px;
$font-30:30px;
$font-32:32px;
$font-34:34px;
$font-36:36px;
$font-38:38px;
$font-40:40px;
$font-44:44px;
$font-48:48px;

$Thin: 100; 
$ExtraLight: 200;
$Light: 300;
$Regular: 400;
$Medium: 500;
$SemiBold: 600;
$Bold: 700;
$ExtraBold:800; 
